/* my style sheet */

/* body is a selector, inside is property-value paris*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffcc;
}
img {
    border: 10px solid green;
} 
h1 {
    border: 5px dotted red;
}
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
cite {
    font-size: 2rem;
}







